[2014-07-24 11:31] lukemorton opened #4 "Routing broken"
https://github.com/akeneo/CustomEntityBundle/blob/master/Resources/config/routing.yml

Your docs are out of wack with your `routing.yml`. Currently the valid route to your custom entity is `/enrich/my_entity/.html`. A very weird URL! This differs from your docs that say it is simply `/enrich/my_entity`.

[2014-07-30 06:33] #4 closed, assigned to nobody

[2015-02-16 09:34] BatsaxIV opened #8 "Compatibility with PIM 1.3"
Hi,

Is there plan do make this bundle compatible with akeneo/pim-community-dev 1.3 ?
I suppose yes, so the next question is when ? :smiley:

Thanks,
Jérémy.

[2015-03-07 10:50] antoineguigan commented on #8
Hi Batsxav,

Sorry for the delay in the answer. You can use the branch 1.5 of the bundle with  CE 1.3

[2015-03-07 10:50] #8 closed

[2015-04-14 01:36] chicodasilva opened #15 "Tutorial Documentation"
I've followed the documentation tutorials but I've been stuck with this issue:
http://www.akeneo.com/forums/topic/custom-entities-hints-for-symfony-beginners/#post-4455

Could anyone give some hint on a possible solution?

Regards,
Francisco

[2015-04-28 08:22] loic425 opened #16 "CustomEntityBundle requires pim-community-dev 1.2.*"
I haven't found any information that CustomEntityBundle is no longer compatible with pim-community-dev 1.3.*

But in composer.json file, CustomEntityBundle requires pim-community-dev 1.2.*

Is CustomEntityBundle compatible with the latest release of pim-community-dev ?

[2015-07-09 10:09] BatsaxIV commented on #16
Hi,

You can use the 1.5 branch which is compatible with pim-community-dev 1.3.*.
It was probably not the case when you wrote this ; do a "composer require akeneo/custom-entity-bundle", it will find the appropriate version.

Jérémy.

[2015-08-21 14:58] #16 closed

[2015-08-27 13:16] #15 closed

[2016-03-22 11:39] hostep opened #69 "'Entity was not found' error during batch export"
Hi guys

This is using Akeneo 1.4.21 & CustomEntityBundle 1.6.0.

I want to export our custom entities to a csv, to later import them into Magento.

Now, following your instructions in the README, I create a new job:

[code]

And then try to execute it:

[code]

Any idea what goes wrong?
Is something missing in the instructions, or is there a bug in the code?

I also tested Akeneo 1.5 & CustomEnti

[2016-04-21 21:10] userz58 opened #70 "Feature Request: inline creation new object"
![2016-04-22 0 04 50](https://cloud.githubusercontent.com/assets/2612186/14724386/6f435b02-081e-11e6-823d-1e2176c97861.png)

can you add this feature for custom entities?

[2016-05-04 10:18] fitn commented on #70
Hi @userz58

We did not plan to add this feature in the CustomEntityBundle so we won't have time on it.

I'm not sure it is easy to do as the Product Edit Form is done on Akeneo PIM side and this behavior will affect the standard PIM behavior which does not manage the Create/Update/Delete feature of reference datas.
Anyway, feel free to contribute on this feature with an optional configuration to

[2016-05-04 10:27] fitn commented on #69
Hi @hostep

I'm sorry for this late answer and I hope you found a way to fix this error.

I don't know what the problem is because of the lack of information and I don't know the missing entity. You can launch the command with `-vvv` option to have more verbosity and eventually verify that the "csv_reference_data_quick_export" job well exist in your database (table `akeneo_batch_job_instance`).

R

[2016-05-04 11:53] hostep commented on #69
Hi @fitn

Thanks for the reply.

If I remember correctly, you can reproduce the error using the [custom-entity-demo](https://github.com/akeneo-labs/custom-entity-demo)
Currently I'm a bit short on time to try to reproduce it again.

We got around it by writing our own custom exporter (which is hideous as it uses raw SQL queries, because the documentation of the Custom Entity Bundle is lacking a lo

[2016-06-10 11:00] snc opened #71 "Wrong hardcoded ACL name in IndexAction template"
The ACL `pim_enrich_family_create` is hardcoded in https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Resources/views/CustomEntity/index.html.twig#L15. Shouldn't there be a way to configure it?

[2016-09-02 15:39] mhobbink opened #76 "Navigation not appearing"
Just installed custom-entity-bundle 1.8.0 (via composer) with a fresh pim-community-dev 1.6.2. Although system-information says custom-entity-bundle is installed, pim_reference_data_tab is not added to navigation bar. ACL options in UserRoleManagement tab "Reference Data" holds no options.
Followed steps as described in README.

[2016-09-05 09:15] mhobbink commented on #76
Got it working after diving into the AcmeCustomBundle in the akeneo-labs/custom-entity-demo. Steps as described in README are not sufficient to get it working.

[2016-09-05 09:15] #76 closed

[2016-12-16 06:52] a2xchip commented on #69
@hostep Custom import/export docs present on [Akeneo PIM docs site](https://docs.akeneo.com)

[2016-12-16 07:03] hostep commented on #69
@a2xchip: I was talking about documentation about exporting custom entities, I don't think that is being covered by the current docs, unless I am mistaken?

[2016-12-16 07:47] a2xchip commented on #69
@hostep Yup, there is no info right for CustomEntity export/import, but there is enough to understand how to reuse PIM built in services in your export/import jobs. All you have to implement yourself: normalizer, flat to standard converter and updater.

[2017-03-23 17:05] msieracki opened #83 "How to create custom entity with wysiwyg text field?"
Hello

I'm trying to create entity with WYSIWYG field. In Akeneo 1.5 I used *pim_wysiwyg* field type during form creation, but in Akeneo 1.7 it don't work.

`
$builder
        ->add(
            'fieldName',
            'pim_wysiwyg',
            array(
                'label'=> 'Field Label',
                'required'=> false
            )
        );
`

Does anyone knows how to create form with

[2017-04-05 12:44] manuscle opened #84 "Not required elements appears as required in production environnement"
Hi,
For a Color entity, i changed the color.orm.yml schema, then updated database and cleared cache. But i still get all elements required in production env. It's working fine in dev env ...

[code]

[2017-04-05 22:28] jmleroux commented on #84
If it's working fine in dev env, we must first exclude a cache issue.
Could you retry after a hard cache reset : `rm app/cache/* -rf` and an apache/fpm restart?

[2017-04-06 06:55] manuscle commented on #84
But i already deleted app/cache/* many times and still got not working correctly. I'm not using php-fpm.

It's working fine now, after started the vm this morning. Very strange behavior ...

[2017-04-06 07:06] #84 closed

[2017-05-30 16:13] kevinrademan opened #86 "Invalid reference for import/export"
When creating a new import job via the UI, the validation always fails with the following error message
[code]

Here is the version of Akeneo im currently running
Edition	CE
Version	1.7.4
Environment	prod
Server version	Apache/2.4.10 (Debian)

After a little digging I found out that the referenceDataName is configured in the following files
https://github.com/akeneo-labs/CustomEntityBundle/blob/ma

[2017-06-14 07:50] kevinrademan opened #88 "How to create custom entity with image field?"
Hi Guys

I'm currently trying to get a custom entity working with a image fields. I've manage to get the system to render the media control by changing my form type to include the following

[code]

When I try and save, it gives me the following error
[code]

I'm assuming that there is some middle ware layer that is supposed to save the image to the file system and replace the value from post with

[2017-06-19 10:53] bOnepain commented on #71
As this issue has been opened for one year, if someone ever had the same problem, here is a workaround that worked for me. You may override the template in your app/Resources/PimCustomEntityBundle/view/CustomEntity/index.html.twig with the following code:
`{% extends baseTemplate %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}

    {% set title = (customEntit

[2017-08-08 15:15] jotalops opened #89 "ReferenceData Connector not updated with akeneo 1.7"
the class Pim\Bundle\CustomEntityBundle\Connector\Job\JobParameters\FormConfigurationProvider\ReferenceData continue implementing FormConfigurationProviderInterface that is removed in akeneo 1.7

[2017-08-09 09:57] fitn commented on #86
Hi @kevinrademan

Sorry for the delay!
I am working on the problem but the files you provide me seems not the only to change (it still does not work on my side).
Could you make a Pull Request I could test and merge?

Thank you,

[2017-08-09 14:54] fitn commented on #89
I removed it in the last version 1.10.2.

Thanks to have raised this issue :)

[2017-08-09 14:54] #89 closed

[2017-08-09 14:56] fitn commented on #88
Hi @kevinrademan

Yes, many people raised us this problem. Unfortunately, we don't have enough time to work on it so if you find any tip, feel free to share it with our community.

Regards,

[2017-08-09 14:57] fitn commented on #86
The version v1.10.2 fixes this issue! :)

[2017-08-09 14:57] #86 closed

[2017-08-13 14:05] jotalops opened #92 "custom entity updater for AbstractTranslatableCustomEntity"
the updateTranslation method is not working with AbstractTranslatableCustomEntityit would be....
( look at the if )

    protected function updateTranslation(ReferenceDataInterface $referenceData, $propertyPath, $value)
    {
        $translationPattern = '/^(?<property>[a-zA-Z0-9_-]+)-(?<locale>[a-z]{2}_[A-Z]{2})$/';
        if (preg_match($translationPattern, $propertyPath, $matches)

[2017-09-07 06:57] igormukhingmailcom commented on #83
Hi, @jmleroux
Any update here?
Thanks

[2017-09-08 14:34] #69 closed

[2017-09-08 14:35] #70 closed

[2017-10-04 12:16] volkovmqx opened #96 "support for akeneo 2.0"
Hello there and thanks for the good work,
I saw the PR for the 2.0 compatibility but is there any specific schedule for the release ?
Thanks.

[2017-10-04 12:38] nidup commented on #96
Hi @volkovmqx

Thank you! The 2.0 compatible version is almost complete and will be released in upcoming days.

[2017-10-05 20:53] jmleroux commented on #96
First release planned for October 6

[2017-10-06 13:43] jmleroux commented on #96
Released as bêta today: https://github.com/akeneo-labs/CustomEntityBundle/pull/94
Stable version will come shortly.

[2017-10-06 13:43] #96 closed

[2017-10-09 15:24] volkovmqx opened #98 "Undefined index: service"
[code]

dump of the $options array

[code]

EDIT : using the version 2.0 with the CustomEntityBundle 2.0 Beta

[2017-10-09 17:48] jmleroux commented on #98
Hello @volkovmqx ,
If you define a key `actions` in your custom entities config, the key `service` is mandatory. It is the service definition of the action to execute.
You can find examples in this file: https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Resources/config/custom_entities.yml

The `action` is not mandatory, like in this file: https://github.com/akeneo-labs/CustomEntityBun

[2017-10-16 11:00] kevinrademan commented on #86
Somehow the responses on this thread went under the radar on github.
Thanks allot for the fixes, I really appreciate it.

PS this project is amazing, keep up the good work

[2017-10-26 20:02] kimpellikaan opened #106 "CustomEntityType.php no longer exists in latest version."
In https://docs.akeneo.com/master/design_pim/guides/create_a_reference_data_crud.html#creating-the-form-type-for-creation-and-edition you are referring to `use Pim\Bundle\CustomEntityBundle\Form\Type\CustomEntityType`. Only the class not longer exists.

[2017-10-27 13:36] jmleroux commented on #106
Hello @kimpellikaan ,
indeed, the documentation is not up to date. We need to raise a ticket on the [PIM documentation project](https://github.com/akeneo/pim-docs) to synchronize the doc.

[2017-10-30 11:34] kevinrademan commented on #106
Is the symfony forms still supported at all, or will any custom entities built in V1.7 have to be migrated to the forms extensions approach?

[2017-10-30 11:36] jmleroux commented on #106
Currently, we encourage and recommend the form extension approach.
But i could study a community PR to add the support of SF forms.

[2017-10-30 11:45] kevinrademan commented on #106
Thanks for the quick response, I think the forms extensions approach is much better (and more modern).
I've been working to convert the forms over, and the following problem is why I was investigating if symfony forms was still supported.

In the previous module with symfony forms you had a mechanism in place where referenced entries would display as a dropdown in the forms.

I see that there is a

[2017-11-01 13:45] kevinrademan commented on #106
I've managed to come up with a solution to this problem which I think is withing the design pattern of the custom entity module.

https://github.com/kevinrademan/CustomEntityBundle/commit/782be1aa16da0336405944f9b6d05f02f053eb60

What I've done is the following
1. I created a custom select control which which uses configurations from the from extensions to load the custom values client side using

[2017-11-05 23:52] #98 closed

[2017-11-07 10:59] Schwierig opened #110 "Typo in edit_form_extension option"
There is a typo in the `Pim\Bundle\CustomEntityBundle\Action\Rest\AbstractRestAction` class on line 157. `edit_fom_extension` should be `edit_form_extension`

[2017-11-07 11:01] Schwierig opened #111 "Use get_class($this) instead of __CLASS__ in AbstractCustomEntity"
If we are using `get_class($this)` in the `AbstractCustomEntity::getCustomEntityName()` method instead of `__CLASS__` there is no need to overwrite the method in the child class.

[2017-11-08 20:31] jmleroux commented on #110
Hello @Schwierig ,

On which version?
Ideally, PR are welcome ;)

Regards,

[2017-11-08 20:33] jmleroux commented on #106
Hello @kevinrademan

thanks for the hard work.
You have already a branch, so i think the best way for me to test your solution would be tom ake a PR that I could install on my machine. Is it possible for you?

Regards,

[2017-11-10 10:29] kevinrademan commented on #106
Sure, I'll put together a pr for this change

[2017-11-14 15:22] jmleroux commented on #110
Good catch!
Fixed in #114

[2017-11-16 09:35] kevinrademan commented on #106
Apologies for the delay, been a little crazy this side.
https://github.com/akeneo-labs/CustomEntityBundle/pull/117/files

[2017-11-16 13:35] #111 closed

[2017-11-16 13:36] jmleroux commented on #110
Merged

[2017-11-16 13:36] #110 closed

[2017-11-16 13:37] jmleroux commented on #106
I close this issue now that we have the PR

[2017-11-16 13:37] #106 closed

[2017-11-17 08:43] jmleroux opened #118 "Add specs for the example bundle"

[2017-11-20 10:35] jmleroux opened #119 "Add example of mass edit"
Add an mass edit example on colors in the AcmeCustom bundle

[2017-11-24 07:05] Schwierig opened #120 "TranslatableCustomEntityRepository->createDatagridQueryBuilder uses non existant parameter"
The createDatagridQueryBuilder() method in the `Pim\Bundle\CustomEntityBundle\Entity\Repository\TranslatableCustomEntityRepository` class uses the `localeCode` parameter which is not set in any of the classes functions. If it is on purpose that the user should specify the parameter when extending, there should be at least a comment somewhere stating that.

[2017-11-24 08:40] jmleroux opened #121 "Keep custom entity grid filters"
We should not lose filters on a custom entity entity grid between pages.

[2017-11-27 13:44] jmleroux commented on #120
Bug detected here https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Entity/Repository/TranslatableCustomEntityRepository.php#L26

Thank you for pointing, i will take it in charge

[2017-12-15 11:10] simoncarre opened #124 "Validation error"
Hi!

I'm using the bundle with simple custom entity `Brand` (like in the example).
I added `validation.yml` file with this content in this directory `Acme/Bundle/MyBundle/Resources/config/` :

[code]

But saving an entity with an empty field generates an error in the logs and the error is not raised on front:

[code]
How can add clean validation on my entity?

Thank you!
Simon

[2017-12-15 13:33] jmleroux commented on #124
Hello @simoncarre ,
I don't really understand the question. If a value is blank, the error is normal. Is your problem that there is no error on front?

[2017-12-15 13:35] simoncarre commented on #124
Yes but I have no error on front. Just error on async request and the screen is lock on loader icon.
Do you have solution for that?

Thank you!

[2017-12-17 17:25] jjdiaz commented on #83
Same problem for me in 1.7 version. I can create a TextArea fields using the 'widget' modificator. But I can not use the wysiwyg editor.

Thanks and regards

[2017-12-17 22:29] fdelprete opened #126 "Updater fails when a CustomEntity has translations and is linked to another custom entity"
The updateProperty function of the Updater class never updates the related custom entity because the logic flow always executes this following block (and return)

[code]
but the code you need to update the related custom entity is after the code above and never is executed

[code]
My working version of updateProperty function is here:
[code]

[2017-12-18 04:07] igormukhingmailcom commented on #83
Editor actually already at codebase and all you need to make it work is to add `wysiwyg` css class to some textareas. This is how to do this until `pim_wysiwyg` will be returned back officially:

[code]

[code]

[code]

[code]

## Usage

*Translatable custom WYSIWYG field for Category*:
[code]

[2017-12-18 09:13] jmleroux commented on #83
Thank you very much @igormukhingmailcom ,

I love when people share their knowledge with each other. That's the way open source should work!

[2017-12-18 09:15] jmleroux commented on #126
Thanks a lot for this very valuable contribution.
Do you think you will be able to make a PR and become a contributor?

[2017-12-18 09:19] jmleroux commented on #83
I added this explaination in the newly created WIKI: https://github.com/akeneo-labs/CustomEntityBundle/wiki/Frequently-Asked-Questions

If you think it should be part of the main doc, PR are welcome ;)

[2017-12-18 09:19] #83 closed

[2017-12-18 09:30] jmleroux commented on #124
Which version do you use?

[2017-12-18 09:32] simoncarre commented on #124
2.0.6 for Akeneo PIM and Custom Entity Bundle.

[2017-12-19 17:27] jjdiaz commented on #83
Thank you very much Igor and Jean Marie. Very good job guys. I will try asap.

[2018-01-03 10:37] xElysioN opened #130 "Fix Type Declaration"
| Q                | A
| ---------------- | -----
| Bug report?  | yes
| Branch | master
| PHP | 7.1.12

The function **getTranslation** of the class **AbstractTranslatableCustomEntity** must have a return type nullable.

[2018-01-03 14:03] jmleroux commented on #130
Fixed in #133
Thanks a lot!

[2018-01-03 14:03] #130 closed

[2018-01-04 16:03] Schwierig opened #134 "Unable to delete Reference Data with multiple Reference Data Types"
I'm unable to delete any reference data since the 2.0 update which added the ProductLinkChecker. The problem likely lies in line 47 in the same class, since it loads all attribute codes and Akeneo automatically validates the code against each of them. This causes Akeneo to throw an InvalidPropertyException.

Example `Property "gen_mat_multi" expects a valid code. No reference data "material" with

[2018-01-05 09:48] jmleroux commented on #134
Hello @Schwierig ,
Thank you for raising this issue. I don't reproduce the issue so far. Could you please describe your `gen_mat_multi` attribute? It is possible this is a pre-patch issue where you deleted reference data linked to products. In your example, the property is linked to a non-existing ref data.

[2018-01-05 10:16] Schwierig commented on #134
So I'm creating two different reference data types and two different reference datas. After that I'm attaching both to a product. If I try to delete one reference data now it will throw the error described above.
This should not be happening post-patch.

[2018-01-05 10:24] jmleroux commented on #134
:+1:

That's exactly the same kind of tests I made. I will re-check

[2018-01-05 10:25] Schwierig commented on #134
Ah I forgot a step. I just tested on a new instance. You have to delete the product first to reproduce the error.

[2018-01-05 12:44] jmleroux commented on #134
I'm sorry, but I really cannot reproduce.
I can just suggest you to use Xdebug to see what really happens.

[2018-01-05 12:51] Schwierig commented on #134
Hmm that's strange.

I already did that. The Product Link Checker is loading all reference data attribute codes (which isn't really necessary, since I'm only deleting one option of one type). Then it loops through each type and validates against the product builder. Akeneo then throws an error in the ReferenceDataFilter Line 174. Which makes sense, since it validates the code against all reference

[2018-01-05 13:16] jmleroux commented on #134
Alas, it is necessary, because we cannot know to how many attributes is linked this ref data.

[2018-01-05 13:17] Schwierig commented on #134
But shouldn't you just select the attributes of the deleted reference data type?

[2018-01-05 13:18] jmleroux commented on #134
How would you select them?

[2018-01-05 13:20] jmleroux commented on #134
How would you select them ?

[2018-01-05 13:21] Schwierig commented on #134
That's the problem with how attribute properties are stored. The only way to kind of get to the "reference_data_name" would be by using a string search (aka LIKE). But that's not even close to acceptable. At the moment I got really no good idea on how to fix this issue. Tried many things yesterday, didn't really come to a solution.

[2018-01-05 13:25] jmleroux commented on #134
Thanks for the stack trace, this will be very helpful

[2018-01-05 13:28] jmleroux commented on #134
`$entity->getCode()`?

https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Checker/ProductLinkChecker.php#L51

This would be weird

[2018-01-05 13:30] Schwierig commented on #134
Not sure which null value you are talking about

[2018-01-05 13:33] jmleroux commented on #134
Sorry, my bad. I have another issue running in parallel. And it seems my brain is not good at multi-threading. (It's an old 19s brain. Multithreading is just emulated :) )

What are the arguments values [here](https://github.com/akeneo-labs/CustomEntityBundle/blob/2.0/Checker/ProductLinkChecker.php#L51) when it crashes?

[2018-01-05 13:38] Schwierig commented on #134
`$attributeCode = gen_mat_multi` -> Reference Data Type = Material
`$entity->getCode()` -> Reference Data Type = Generic Color

This is the grid of the Generic Color Reference Data Type
![screen shot 2018-01-05 at 14 38 17](https://user-images.githubusercontent.com/2803839/34611506-17e646c8-f226-11e7-99c8-ebac6584f5bf.png)

[2018-01-05 13:42] jmleroux commented on #134
I don't understand. You should have something like that:

$attributeCode = `gen_color` and $entity->getCode() = `blau`

or

$attributeCode = `gen_mat_multi` and $entity->getCode() = `one_material_code`

[2018-01-05 13:46] Schwierig commented on #134
`$attributeCodes => Array
(
    [0] => gen_mat_multi
    [1] => ref_color
    [2] => ref_brand
)`

The Entity is of the type `generic_color` which is linked in the `ref_color` attribute. And that's where the error is coming from. Since `gen_mat_multi` is the first attribute code and it isn't linked to the `generic_color` type the validation fails.

[2018-01-05 14:00] jmleroux commented on #134
OK! I get it!
The (dirty) solution could be to catch the exception. I'll try to find something cleaner.

[2018-01-05 14:01] Schwierig commented on #134
Nice, thanks for all the support :)

[2018-01-05 14:31] jmleroux commented on #134
I reproduced and tested, but if you had time to test the PR, you will be more than welcome ;)

[2018-01-05 14:39] Schwierig commented on #134
Works for me 👍

Greetings from Torben :P

[2018-01-05 14:40] jmleroux commented on #134
:beers:

[2018-01-05 15:18] jmleroux commented on #134
Patch available: https://github.com/akeneo-labs/CustomEntityBundle/releases/tag/v2.0.8

[2018-01-05 15:18] #134 closed

[2018-01-05 15:19] jmleroux opened #137 "Refactor #134"
#134 is fixed in a quick and dirty way.
We should refactor the ProductLinkChecker to filter on attributes objects instead of attribute codes.

[2018-01-18 12:57] kevinrademan commented on #124
I'm also interested in this. I have the same behavior using akeneo 2.0.11 and using 2.0.8 of the custom entity module.

I did some brief investigation into this problem and it appears that the validation errors are available within the controller, but they are not being passed back in the error response.
https://github.com/akeneo-labs/CustomEntityBundle/blob/881aa6bf7a9dd8ab20669cb7f9a2fe679575ba3

[2018-01-18 16:36] kevinrademan opened #138 "NoSuchPropertyException when saving a form the 2nd time"
When saving an entity for the 2nd time, the save controller throws a NoSuchPropertyException giving the "data" property as the name. Upon some research, I found that this is caused by the save-data.js file passing the complete response into setData instead of the data property
https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Resources/public/js/form/common/save-form.js#L51

Full error

[2018-01-19 11:46] muspelheim opened #140 "Invalid install on Akeneo 2.1"
Hi, could you please help me with install CustomBundle to my Akeneo?

Looks like something went wrong,
1) No ACL per entity, but `Reference Data` section was created

Custom bundle was installed by `vendor/akeneo-labs/custom-entity-bundle/docs/examples/bin/setup_example.bash`

[2018-01-19 12:04] #140 closed

[2018-01-19 12:04] muspelheim commented on #140
Issue related with cache(

[2018-01-21 00:36] DomeRS93 opened #141 "UI to manage a Reference Data"
Hello,

I think your "cookbook" has a lack of information at a couple of parts ...

https://docs.akeneo.com/2.1/design_pim/guides/create_a_reference_data_crud.html

Followed this "recipe" from the beginning, the result is that there is no route defined for "enrich/color".

My idea was to create this "enrich/color" in my routing.yml, which resulted in an

I also had to adjust the signatures for the

[2018-01-23 16:38] #124 closed

[2018-01-24 13:34] kanduvisla opened #144 "Is it possible to have a localizable / translatable Custom Entity"
The `Pictogram` example only shows how you can have a label that is translatable / localizable. But is it also possible to have the values of your Custom Entity localizable?

For example: if I look at `fabric`, would it also be possible to have the fields `name` and `alternative name` localizable?

[2018-01-25 13:07] kanduvisla commented on #144
Small update: if I look at the `updateTranslations()`-method in `Pim\Bundle\CustomeEntityBundle\Updater` I see the following method:

    protected function updateTranslations(AbstractTranslatableCustomEntity $referenceData, $propertyPath, $values): void
    {
        foreach ($values as $locale => $value) {
            if (!in_array($locale, $this->localeRepository->getActivatedLocaleCodes())) {

[2018-01-26 13:30] kanduvisla commented on #144
Can anyone tell me if this is intended behavior? Because I currently have a working setup with localizable custom entities and I'm willing enough to make a pull request for this feature, but I'm not sure if what I'm doing is correct. I'm very new to Akeneo (I've only worked 2 or 3 weeks with it now), but I do have a lot of experience with PHP and Magento 2. Here's what I've got:

When analyzing th

[2018-01-29 08:19] mmetayer commented on #144
Hi @kanduvisla ,

Your assumption is correct, currently you can only update a `label` property without overriding the Updater. Do not hesitate to open a PR with your edits, we will review it as soon as possible. A few tips before submitting your code:
 - if you can, try to use the PropertyAccessor in order to update the localizable property (like in https://github.com/akeneo-labs/CustomEntityBundl

[2018-01-29 08:23] kanduvisla commented on #144
Thanks! I already thought that there had to be a better way than `call_user_func()` 😜

[2018-01-29 14:33] simoncarre commented on #124
Hi @jmleroux!

Do you know on which release the fix will be included?

Thank you in advance.

[2018-01-29 14:44] mmetayer commented on #124
Hi @simoncarre, the fix will be included in the next version (2.1.3)

[2018-01-31 09:09] #138 closed

[2018-01-31 09:23] mmetayer opened #147 "Can't remove association between two reference datas"
Currently one can't remove a nullable *ToOne association between two reference datas, (e.g in the example bundle, you can't unselect the `fabric` property from a `Brand` edit form), due to https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Updater/Updater.php#L166

[2018-01-31 14:34] kanduvisla commented on #144
@mmetayer : I've create a PR of what I've got so far. I still want to expand it with tests and example code, but it would be nice to know if I'm on the right track.

[2018-01-31 15:39] mmetayer commented on #144
Thank you very much for the PR @kanduvisla :slightly_smiling_face:, I'm quite busy at the moment, but I'll give it a look as soon as I can.

[2018-02-01 10:58] kanduvisla opened #149 "When I create a custom entity with the same code, I get no error message"
When you try to create a custom entity with an identical code, no error message is shown, but you also are not redirected to the edit page.

## Steps to reproduce

_I've tried this with the example bundle provided with this bundle_

1. Create a color with the code `foo`.
2. Fill in the required fields and save it.
3. Create again a new color with the code `foo`.
4. Fill in the required fields and

[2018-02-01 13:01] mmetayer commented on #149
Hi again, @kanduvisla !

This issue should have been fixed by #142 which is currently only available in master. We intend to release a new version soon, but in the meantime, can you `composer require akeneo-labs:dev-master` and tell me if you still reproduce the issue?

Regards,
Mathias

[2018-02-06 11:17] nicolicioiul opened #151 "New install on 2.1.5 missing new attributes: color, fabric..."
I installed the module on akeneo 2.1.5 and the new reference data attributes are not available when I am trying to create a new attribute, autocommplete is empty.
But, on export, I have the newly added item from CLI.

Is there any to check that? I cleared the cache and restart all the services

[2018-02-06 13:41] tbrankaer opened #152 "The route "pim_customentity_index" does not exist."
Akeneo version:  2.1.4
CustomEntityBundle: v2.1.3

After configuring the routes.yml, config.yml a JS error is shown when calling for the pim_customentity_index route.

This route is available in the routes.js file but can't be accessed. Any idea how to solve this problem? Caches were cleared, assets got reinstalled, ...

[2018-02-07 08:45] tbrankaer commented on #152
Problem solved by executing the following commands (in that order):
- rm -rf var/cache/
- bin/console pim:installer:assets --symlink --clean --env=prod
- yarn run webpack
- clear browsercache

[2018-02-07 08:45] #152 closed

[2018-02-07 08:48] fitn commented on #151
Hello @nicolicioiul

This is a problem linked to the PIM itself and not he CustomEntityBundle. Take a look at our configuration documentation here: https://docs.akeneo.com/2.1/manipulate_pim_data/catalog_structure/creating_a_reference_data.html#configuring-the-reference-data

It should fix your problem :)

Regards,

[2018-02-07 11:50] nicolicioiul commented on #151
Fixed.

[2018-02-13 23:05] eltjor opened #156 "compatibility issue with 2.2"
PIM-6367: Rename service pim_enrich.query.product_and_product_model_query_builder_factory into pim_catalog.query.product_and_product_model_query_builder_factory

[code]

[2018-02-13 23:29] #151 closed

[2018-02-13 23:33] jmleroux commented on #88
Any news on this subject?

[2018-02-14 18:02] mmetayer commented on #120
Actually, this parameter is automatically appended to the queryBuilder by `Pim\Bundle\DataGridBundle\EventListener\AddLocaleCodeToGridListener`, see [here](https://github.com/akeneo/pim-community-dev/blob/30a79941d1e1e5fb8896ac5f1529f9b57e23299c/src/Pim/Bundle/DataGridBundle/EventListener/AddLocaleCodeToGridListener.php#L55)

[2018-02-15 13:29] simoncarre commented on #88
I added this feature on one of my projects. I will do a PR soon.

![capture_001](https://user-images.githubusercontent.com/1229419/36258808-677a0b10-125c-11e8-824c-6c297afd14d2.png)

[2018-02-16 17:19] #147 closed

[2018-02-21 22:32] diglin commented on #88
@simoncarre could you maybe share your code without PR, I need it right now. Thank you in advance

[2018-02-27 16:41] #126 closed

[2018-02-27 16:44] mmetayer commented on #118
Fixed by #160

[2018-02-27 16:44] #118 closed

[2018-03-09 13:18] Schwierig opened #169 "Error 500 when trying to use a refdata attribute as a filter in the Export Builder"
When using a custom entity as an Akeneo attribute it does not return the "entity_class" property that is set in "custom_entities.yml" by default.

Do I need to define it elsewhere, because I can't seem to find any mention of that in the docs.

[2018-03-19 08:15] dadasoz opened #171 "Export related entity issue"
I am trying to export relational data for Brand, currently export for reference data only works with independent entity, but triggers issue when in case of Relational entity.

As in docs there is example bundle, when tried to export Brand, gives same error as in my bundle.

I my case:

Brand is primary entity and Parts is having field which refers to Brand.

Now when I tried to export Brand, works

[2018-03-19 08:30] fitn commented on #171
Hi @dadasoz

You have to create your own normalizer and explain how you want to export your brand entity.
You can take a look here: https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Normalizer/Flat/ReferenceDataNormalizer.php

Feel free to update to a new version of CustomEntityBundle. This feature is natively available in 2.1 and 2.2 :)

Regards,

[2018-03-22 14:07] #156 closed

[2018-03-29 15:55] mmetayer commented on #169
Hello @Schwierig, in order to use custom entities for reference data simple or multi select attributes, you have to configure the `pim_reference_data` config key in `app/config/config.yml`, see https://docs.akeneo.com/2.2/manipulate_pim_data/catalog_structure/creating_a_reference_data.html#configuring-the-reference-data.
An example of configuration is also provided [here](https://github.com/akeneo

[2018-04-03 07:46] Schwierig commented on #169
Actually I already did that. I can use it in the product with any problems. My problem is that I cannot use the reference data as a filter in the export. When researching this I stumbled upon the "entity_class" which isn't being returned by the class.

[2018-04-03 15:08] mmetayer commented on #169
Hi again @Schwierig, I updated the issue's title, there was indeed a bug related to the export builder, which should be fixed by #176

[2018-05-09 08:11] kevinrademan opened #179 "Bulk import of reference data running as system"
Just a question about the expected behavior. I have set up a post-save event on one of my reference data entities which uses the Akeneo\Bundle\BatchQueueBundle\Launcher\QueueJobLauncher to launch an asynchronous job,

In my postSave event, I use the token storage to get the current user, which is then passed into the QueueJobLanuncher. My intention is that the spawned job, should run in the users'

[2018-05-09 14:47] jmleroux commented on #179
I would say not implemented.

[2018-05-09 14:50] ptitkosmos opened #180 "TranslatableEntities generate error when selecting values in product attribute"
When selecting a value in product attribut, an error occured due to a wrong named options in the `findBySearchQB` function in the `TranslatableCustomEntityRepository`

`$options` values are :

(
    [type] => code
    [limit] => 20
    [page] => 1
    **_[catalogLocale] => en_GB_**
)

Message :

[2018-05-09 15:02] jmleroux commented on #180
Hello @ptitkosmos ,

which versions of PIM and extension are you using?

[2018-05-09 16:11] ptitkosmos commented on #180
Hello @jmleroux, i'm using Akeneo 2.2.3 and CustomEntities 2.2.0.

But nevermind, this issue is due to a lack in documentation. The extension needs to be defined after PimBundleUI in order to override the ajax controller.

You can close this issue, or retag to MissingDocumentation.

Thanks for your quick reply.

[2018-05-09 18:08] jmleroux commented on #180
Thank you for the feedback on the doc!

[2018-05-09 18:08] #180 closed

[2018-05-11 08:43] kevinrademan commented on #179
After a serious deep dive into the authentication mechanisms around the bulk import, I managed to figure out that it was simply a configuration setting.

There is a setting called "is_user_authenticated" which gets used in the following file.
https://github.com/akeneo/pim-community-dev/blob/2.3/src/Pim/Bundle/ConnectorBundle/EventListener/JobExecutionAuthenticator.php#L66

This flag is per default

[2018-05-11 08:43] #179 closed

[2018-06-26 14:47] nilamrz opened #183 "Modify values before save - Alter values at background"
Hi,

My custom entity is having 3 fields
[code]

When saving I will only set Name and I will need save in db as  follwing:

[code]

Is  there any way to achieve this?

Thanks.

[2018-06-26 15:27] mmetayer commented on #183
Hello @nilamrz, you can modify a field before saving by implementing an EventSubscriber (see [here](https://symfony.com/doc/3.4/doctrine/event_listeners_subscribers.html)), or by using lifecycle callbacks (see [here](http://symfony.com/doc/3.4/doctrine/lifecycle_callbacks.html)).
I'll close this issue as it is not directly related to the CustomEntityBundle, feel free to reopen it if you think I wa

[2018-06-26 15:27] #183 closed

[2018-08-08 02:33] davibennun opened #185 "Select field type for non custom entities"
Hey guys,

I am using this bundle to create a custom module for akeneo.
On my create modal I need a select field so users can select an attribute entity.
Is there a built-in module for that? I looked into custom_entity/field/select2 but looks like it doesn't do the job, unless I am missing something.

Bellow is my create.yml

[code]

Thank you

[2018-08-26 21:18] #185 closed

[2018-08-30 12:41] bOnepain opened #186 "Grid Title disappears on a reference data index grid"
I've encountered a weird behaviour on the reference data index grid:

- When no item is to be shown in the list (empty DB table), the title is properly displayed
- As soon as there is one or more items in the DB, the title is not displayed anymore

[2018-08-30 23:23] danielsimpson opened #187 "Error installing"
While trying to create the export job, I get the following:

`PHP Fatal error:  Uncaught Symfony\Component\Debug\Exception\ClassNotFoundException: Attempted to load class "PimCustomEntityBundle" from namespace "Pim\Bundle\CustomEntityBundle".
Did you forget a "use" statement for another namespace? in /var/www/pim-community-standard/app/AppKernel.php:35
Stack trace:
#0 /var/www/pim-community-standa

[2018-08-31 09:59] bOnepain commented on #186
Sorry it's not an issue. Looking at the JS code, I realized the translation must be pluralized...

[2018-08-31 09:59] #186 closed

[2018-08-31 13:05] #169 closed

[2018-08-31 13:20] #187 closed, assigned to mmetayer

[2018-08-31 21:40] danielsimpson commented on #187
Thanks for the quick reply and update @mmetayer , however I'm still seeing similar behavior:

My app/AppKernel.php now:

[code]

When creating the export job:

[code]

[2018-09-03 07:16] mmetayer commented on #187
Hello @danielsimpson , this looks like an autoload issue, try to clear your cache and `composer dump-autoload`. If it still doesn't work, you can even try to `composer update`, this should do the trick

[2018-09-05 09:10] karelVanGeerdeghom opened #189 "Mistake in example datagrid brand filters?"
Hello,
In the examples/CustomBundle/Resources/config/datagrid/brand.yml file I see this code:

        filters:
            columns:
                code:
                    type:      string
                    label:     Code
                    data_name: rd.code
                fabric:
                    type:  choice
                    label: Fabric
                    data_name: o.fabric

[2018-09-05 09:15] karelVanGeerdeghom opened #190 "Mistake in example ChoicesRepository"
Hello,

In the ChoicesRepository class, in the getChoices method I see this code:

        foreach ($values as $value) {
            $choices[$value->getId()] = $value->getCode();
        }

I had to change this to

        foreach ($values as $value) {
            $choices[$value->getCode()] = $value->getId();
        }

to get it to work.

[2018-09-05 09:39] mmetayer commented on #189
Hello @karelVanGeerdeghom

Thank you for reporting this issue, I'll try to fix it as soon as I can, however I don't have much time to work on it right now. Feel free to open a PR if you want :wink:

[2018-10-23 13:06] nicolasfl opened #191 "Error 500 when Entity creation"
Hi everyone,
I'm actually facing an issue while creating a custom entity.
All the functionalities about this custom entity are working except the creation. I get an 500 error when I submit the creation form.
I've tried to add it directly in DB and edit it from the interface and that works perfectly.
I started to debug all the saving process until the function save() in BaseSaver. All the validatio

[2018-10-29 15:22] nicolasfl commented on #191
Error fixed.
It wasn't an issue coming from the bundle but from mysql. In fact, mysql doesn't accept columns named "column", so it was creating an error when I was trying to INSERT a value in DB.

[2018-10-29 15:22] #191 closed

[2018-11-06 18:27] vbidou opened #192 "Question: Where to place the bundle enabler in AppKernel.php"
Hello and sorry if the question appear stupid, but I cannot find where to add the bundle enabling code inside the AppKernel.php file. I am confused by the description of the Installation.

It says in the method registerProjectBundles, but did I placed it at the right place?

    protected function registerProjectBundles()
    {
        return [
            // your app bundles should be registered

[2018-11-07 08:50] mmetayer commented on #192
Hello @vbidou, yes, that is exactly where you should place it :)
You also will also have to declare your own bundle there.

Regards,

[2018-11-07 08:50] #192 closed

[2018-11-07 17:51] vbidou commented on #192
Merci Matthias pour la confirmation. Very appreciated.
I must confess that I am still struggling, not being a "native" developper, to follow the GitHub deployment menu, and set the stage of the reference data. The process is not easy reading and full of unknown acronyms. Maybe it's much more destinated to dedicated professionals. That's sad because I suppose that many users would like to leverage

[2018-11-14 13:46] userz58 opened #193 "Field for import/export forms"
Existing field type "[custom_entity/field/custom-entity-select](https://github.com/akeneo-labs/CustomEntityBundle/blob/master/Resources/public/js/field/custom-entity-select.js)", not works with import/export job forms.
Pls, add that field to your bundle:

pimcustomentity/js/field/job-custom-entity-select.js:

[code]

[2019-02-05 10:10] jotalops opened #197 "multiple localizable fields in customEntity"
in akeneo 1.7 this can be possible, but I can't with 2.3.

I achieve to show the two fields, but when the form is submitted, the items are not in the correct fields

this is my edit-form

    ## translation section1
    pim-market-edit-form-properties-translation-section:
        module: pim/common/simple-view
        parent: pim-market-edit-form-properties
        targetZone: accordion
        po

[2019-02-13 12:25] jotalops commented on #88
@simoncarre could you maybe share your code ?. in which version of akeneo works? when saving the custom entity the two entities asset - and yours are linked??
Lot of Thanks  in advance :)

[2019-02-22 14:32] karelVanGeerdeghom opened #200 "Cannot install for Akeneo 3"
I've added the following to my composer.json
```"minimum-stability": "dev"```
but when I try to run
```composer require "akeneo-labs/custom-entity-bundle":"3.1.x-dev"```
I get
[code]

[2019-02-23 15:33] jmleroux commented on #200
Hello @karelVanGeerdeghom ,

The README might be clearer, because the one you read is for using this bundle with master branch of the PIM. If you look at the [tag README](https://github.com/akeneo-labs/CustomEntityBundle/tree/v3.0.0), the requirement is more correct.
I'll fix the master README to repuire the 3.0.0 version to avoid this kind of mistake.

Regards,
JM

[2019-02-23 15:34] jmleroux commented on #200
Fixed. Please close this issue if the fix is ok for you.

[2019-02-23 15:35] jmleroux commented on #193
Closed for inactivity.

[2019-02-23 15:35] #193 closed

[2019-02-23 15:38] jmleroux commented on #141
UI for reference data is part of Enterprise Edition under the name `Reference entities`.

[2019-02-23 15:38] #141 closed

[2019-02-23 15:38] #137 closed

[2019-02-23 15:38] #121 closed

[2019-02-23 15:39] #119 closed

[2019-02-23 15:39] #71 closed

[2019-02-25 12:43] karelVanGeerdeghom commented on #200
Yes, that helped, thx!

[2019-02-25 12:43] #200 closed

[2019-02-26 07:39] PieterCappelle opened #201 "History"
Hi,

Every PIM model has a tab "history" but none of them are showing the history? Is this yet implemented or how should this work? Thanks in advance!

[2019-02-26 10:27] jmleroux commented on #201
There is no history planned for CutomEntityBundle at this time.
I think it's totally doable in custom code (and PR :wink: ), but we will probably not do it ourselves.

Regards,
JM

[2019-02-26 10:31] PieterCappelle commented on #201
Okay, thank you for the answer!

[2019-02-26 10:31] #201 closed

[2019-05-19 20:43] akorti opened #205 "add a datetime and an image field to a reference data entity"
I'm trying to create an new reference data entity with a datetime and an image field. I didn't find any information about it in the documentation or the source code. Is it possible? If yes how can i do it?

Thanks for the help.

[2019-05-28 10:34] GabOzbek opened #206 "Attributes from reference-data objects are compared with attributes from product"
Hi,

If you have same attribute name in you reference-data objects and products the History in a product will look like the values from the reference-data object replaces the product values.

The attributes to the left belongs to the product and the attributes to the right belongs to the reference-data object. This comparison is wrong, since it should only compare attributes belonging to the same

[2019-05-29 11:41] userz58 opened #207 "Compatibility with PIM 3.1 or 3.2"
Will compatibility be supported with versions 3.1 and 3.2 ?

[2019-06-04 11:51] tonongregory commented on #207
Just install 3.1.5 and it's not working.
On open custom entity datagrid blank page and javascript console exceptions

[2019-07-08 13:00] janssensjelle commented on #207
It seems that it is working on 3.1

[2019-07-08 18:08] Olaf1989 commented on #207
Currently we are using the latest CustomEntityBundle version (3.0.0) with Akeneo 3.1.11 and we only had to change one line of code from the CustomEntityBundle (because of the structure changes). Everything seems to work as far as i have tested.

/Controller/AjaxOptionController.php in the use statement
**From:**
`use Pim\Component\ReferenceData\Repository\ReferenceDataRepositoryInterface;`

**To:*

[2019-12-06 08:05] firojahmad121 commented on #83
sasdfasdf

[2019-12-10 16:57] dalarcia opened #210 "No notification reference quick export"
Hi,

When I launch a csv quick export of color entity references, there is no notification when the job is finished (Akeneo bell icon) , but if I browse to the folder where the files are generated, all the data is well exported to the csv file.

Any idea on how to set up these notifications?

I'm working with Akeneo 3.2.

Thanks in advance.

[2019-12-12 14:17] dalarcia commented on #210
For anyone dealing with this issue. Adding the following line in the doExecute method of QuickExportAction.php solve the problem:
.........................
**$rawParameters['user_to_notify'] = $this->getUser()->getUsername();**
$configuration = array_merge($rawParameters, $rawParameters);
$this->jobLauncher->launch($jobInstance, $this->getUser(), $configuration);
.........................

[2019-12-12 14:17] #210 closed

[2020-01-17 10:19] lynchwu2002 commented on #207
Good to know 3.1 works.  But what about 3.2?

[2020-02-14 13:54] Rafelder commented on #207
It seems to also work in 3.2 with the change from @Olaf1989. I have not tested it extensively, but at first glance everything seems to work.

[2020-02-19 17:59] realadityayadav opened #211 "I am working with creating a new Entity using CustomEntityBundle module but getting issues with it."
This happens when  I run `php bin/console pim:reference-data:check`
even though `php bin/console doctrine:mapping:info`
get's my mapping shown correctly

[2020-02-20 11:06] realadityayadav commented on #211
When one is giving
https://docs.akeneo.com/latest/manipulate_pim_data/catalog_structure/creating_a_reference_data.html#configuring-the-reference-data

It won't work. The correct way is

akeneo_pim_structure:
    reference_data:
        fabrics:
            class: Acme\Bundle\AppBundle\Entity\Color
            type: simple
Thanks to the Slack Akeneo Channels

[2020-02-20 11:06] #211 closed

[2020-03-12 09:20] dalarcia opened #212 "Compatibility with Akeneo CE 4.0"
Hi group.

Is this bundle going to be compatible with Akeneo CE 4.0? And if so, could you tell us if there is any realease date?

Thanks in advance.

Best regards.
David.

[2020-03-20 02:21] nicolasfl commented on #212
Hi David,
I asked the same question to the team and they told me that for now, the custom entity bundle is not in their roadmap because the Reference Entities feature is now available since 3.0.
Of course, if someone decides to do the upgrade in a PR, they would be very happy to review it.
Nicolas

[2020-03-24 06:38] dalarcia commented on #212
Hi Nicolas.

Thank you very much for the answare. So, Does this means that it is not possible to use reference data types (single or multiple) in Akeneo 4.0?
I have searched on how to use this data types in the Akeneo docs for the 4.0 version and I can not get any information.

Best regards.

[2020-03-24 18:13] jmleroux commented on #212
Hi,
This is not documented anymore because we are focusing on Reference Entities for the PIM, but the reference data is still present and it should be possible to use it with this bundle once/if is is updated.
We don't have time to work on it right now and that's why we opened it to the community to respect our open source vision.

Best regards.

[2020-04-02 08:38] gplanchat commented on #212
Hello,

As this bundle has been migrated to the FriendsOfAkeneo organization, it is now under the leadership of the community.

Feel free to contribute or join the [#friends-of-akeneo](https://akeneopim-ug.slack.com/archives/CUFM98C8P) Slack channel to discuss about it

[2020-04-15 21:04] tcmax76 commented on #207
Anyone know if there are any different steps for installing on Akeneo 3.2 other than the one referenced by @Olaf1989 above? I'm not having much luck getting it to show up in our Akeneo after following the steps.

[2020-04-16 09:25] jotalops opened #214 "reference data filters in product_model_index by reference not working"
In version 2.4 of the bundle ( akeneo 2.3 )

if we do a simple search by an attribute of type reference data simple or multiple we dont't found any results.

+++++++++++++++++
$pqbFactory = $this->getContainer()->get('pim_catalog.query.product_model_query_builder_factory');

 /* @var ProductAndProductModelQueryBuilder $pqb */
  $pqb = $pqbFactory->create(['default_locale' => 'en_US', 'default_scop

[2020-04-17 07:53] Olaf1989 commented on #207
Works also with 3.2 for us

[2020-05-11 07:20] #212 closed

[2020-07-15 05:44] jjdiaz opened #217 "Could not find package akeneo-labs/custom-entity-bundle in a version matching 4.0.*"
When
$composer require "akeneo-labs/custom-entity-bundle":"4.0.*"

I got this error:
Could not find package akeneo-labs/custom-entity-bundle in a version matching 4.0.*

If I try whith version "master", I got this error:

- The requested package akeneo-labs/custom-entity-bundle master is satisfiable by akeneo-labs/custom-entity-bundle[dev-master] but these conflict with your requirements or minimu

[2020-07-15 05:54] jjdiaz commented on #217
Partially solved using:

$composer require "akeneo-labs/custom-entity-bundle":"dev-master"

But the doc is not correct.

[2020-09-21 14:05] grena commented on #217
Hello @jjdiaz , the bundle has just been tagged 4.0 today!

[2021-04-01 14:17] simoncarre opened #221 "Compatibility 5.0"
Hello!

Do you know if a 5.0 release of this bundle is planned? Is the 4.0 release compatible with Akeneo 5.0?

Thank you!

[2021-04-30 15:11] andreaGft opened #222 "Reference Data Not present in Select Attribute"
Hi,

I installed the Bundle on Akeneo PIM 5.0 and also the Customer Bundle
I'm able to create a Reference Data:
![image](https://user-images.githubusercontent.com/73952662/116715382-f301a980-a9d6-11eb-97f6-eb6039eb6fd5.png)

But when I try to create a Select Reference Data attribute I don't see any option
![image](https://user-images.githubusercontent.com/73952662/116715490-0e6cb480-a9d7-11eb-8d23

[2021-05-06 13:51] simoncarre commented on #221
I just tested the bundle from a fork on Akeneo 5.0. Everything is working well.
Is it possible to adapt README / composer.json files and create a new tag?

Thank you!

[2021-09-10 07:27] mokabyls commented on #221
Hi,

everything working well BUT if you want to use import / export, all labels are not translated.
Maybe between V4 & V5, labels was renamed in akeneo's yaml (not sure of that. Just discovered and started akeneo with V5 version) ?

[2021-10-29 09:17] jotalops opened #224 "example entities appears in /docs folder appears"
composer autoload that files because composer.json includes that docs folder !
I thought that this docs examples folder must not be present in autoloaded files

    "autoload": {
        "psr-4": {
            "Pim\\Bundle\\CustomEntityBundle\\": "",
//            "Acme\\Bundle\\CustomBundle\\": "docs/examples/CustomBundle"
        }
    }

[2021-10-29 11:57] #224 closed, assigned to nobody

[2022-01-31 14:10] cedric-jeeper commented on #222
I've the same problem. Did you find if it's a PIM 5.0 problem ? Did you resolve it ?

Kind regards

[2022-03-01 14:02] giedriusdilling commented on #222
I also need this information. Does anyone know yet?

[2022-03-08 15:50] gabzsmallz opened #226 "Compatibilty with Akeneo v5"
No version that is compatible with Akeneo v5

[2022-03-21 09:20] giedriusdilling commented on #222
@andreaGft , @cedric-jeeper,  did you find a solution?

[2022-06-10 10:14] AeroDecathlonIvanKovtun commented on #222
I'm resolve this issue by adding this in src/Resources/config/services.yml
[code]

[2022-07-12 06:00] rimas-kudelis commented on #197
Hey @jotalops, did you ever figure this out? I'm stuck with a somewhat similar problem now: I want to add a translatable "description" field to my entity, but I have no idea how to make it work so far.

[2022-07-12 11:04] jotalops commented on #197
Hi @rimas-kudelis we migrate to akeneo 4 so we changed all the code to use reference entity with have this feature.

[2022-07-12 11:06] rimas-kudelis commented on #197
I see, thanks.

[2022-08-30 14:07] michaelgracious opened #227 "Akeneo 6.0 compatibility? Dev stalled / Project dead?"
Like the title says, whats up with 6.0 support? or even 5.0?

[2022-11-04 11:55] gabzsmallz commented on #227
@michaelgracious Try this fork see if it works with v6 https://github.com/gabzsmallz/custom-entity-bundle/tree/modsv6